<div class="home-page-container">
  <app-overlay-image 
  imageSrc="assets/images/banf-banner.jpeg" 
  imageText="Conducting my students in Banff Alberta"
  size="medium"></app-overlay-image>

  <app-card>
    <h3>Where things are (you can also use the buttons on the side)</h3>
    <li><a routerLink="/bio">Bio</a> for information about me and my career</li>
    <li><a routerLink="/carols">Carols</a> for recordings and sheet music for five traditional Newfoundland Christmas Carols</li>
    <li><a routerLink="/music">My Music</a> for recordings of my original songs</li>
  </app-card>

  <app-card>
    <h3>Updates!</h3>
    <div class="update-container" *ngFor="let update of updates | async">
      <h4>{{update.title}}</h4>
      <p>{{update.description}}</p>
      <a target="_blank" href="{{update.link}}">{{update.linkDescription}}</a>
    </div>
  </app-card>

</div>


