<div class="home-page-container">
  <app-overlay-image 
  [imageSrc]="content?.bannerImage.fields.file.url" 
  [imageText]="content?.bannerImageOverlayText">
  </app-overlay-image>

  <app-card>
    <div class="v-div"></div>
    <h3>{{content?.navigationSectionTitle}}</h3>
    <hr>
    <li><a routerLink="/bio">Bio</a> for information about me and my career</li>
    <li><a routerLink="/carols">Carols</a> for recordings and sheet music for five traditional Newfoundland Christmas Carols</li>
    <li><a routerLink="/music">My Music</a> for recordings of my original songs</li>
  </app-card>

  <app-card>
    <div class="v-div"></div>
    <h3>{{content?.updatesSectionTitle}}</h3>
    <hr>
    <div class="update-container" *ngFor="let update of updates">
      <h4>{{update.title}}</h4>
      <p>{{update.description}}</p>
      <a target="_blank" href="{{update.link}}" rel="noreferrer">{{update.linkDescription}}</a>
      <hr>
    </div>
  </app-card>

</div>


