<app-card>
  <div class="v-div"></div>
  <h3>Who am I?</h3>
  <hr>

  <p>My name is James Pinhorn.
    <br> I am a native of St. John’s, Newfoundland where I appeared frequently on stage and on CBC Radio and Television
    as a boy soprano and actor.
  </p>
</app-card>
  
<app-card>
  <div class="v-div"></div>
  <h3>My University Career</h3>
  <hr>

  <p>I moved to Toronto in 1985 and completed a Bachelor of Music in Vocal Performance at the University of Toronto.
    During a year of Special Studies in Elementary Education and Choral Conducting at the University, I served as
    the Assistant Conductor of the Concert Choir conducted by Doctor Doreen Rao. During that year I was invited by
    Dr. Rao to conduct the choir in a performance of Sharon Fragments at a gala concert honouring Canadian composer
    John Beckwith. That same year I was invited by Robert Cooper to conduct the back-stage chorus in three performances
    of Ravel’s ballet Daphnis et Chloe for the National Ballet of Canada. I served as conductor of the University
    Chorus at the University of Toronto for two years before accepting the post as conductor of the University Women’s
    Chorus which I held for 6 years. I was also a vocal coach for the Toronto Mendelssohn Youth Choir, and was the
    guest chorus conductor for Robert Cooper in two performances of the opera Marina for the Opera in Concert Chorus
    in December of 1996.</p>
</app-card>

<app-card>
  <div class="v-div"></div>
  <h3>Adjudication</h3>
  <hr>

  <p>I have also been invited twice as a presenter for the Ontario Music Educators Association Conference held in Toronto,
    where I have given presentations on the state of music education in our public schools, on rehearsal techniques
    for young male singers, and on issues of intellectual copyright.</p>
</app-card>

<app-card>
  <div class="v-div"></div>
  <h3>Ontario Educational Leadership Centre</h3>
  <hr>
  <p>I have also had the honour of conducting the Massed Choir for 9 seasons at the Ontario Educational Leadership Centre
    in the Intermediate Arts Course for Grade Seven students and was a Course Administrator there for 5 years.</p>
</app-card>

<app-card>
  <div class="v-div"></div>
  <h3>Teaching</h3>
  <hr>
  <p>I am a Secondary music teacher at Agincourt Collegiate Institute in the Toronto District School Board where I teach
    both Vocal Music and Computers and Music courses. The Agincourt Madrigal Singers have won National Gold Awards
    7 times, most recently at the 2015 MusicFest Nationals in Toronto, Ontario. Agincourt’s Choral ensembles have
    been twice awarded the Ed Bolsby Trophy for top High School Ensembles in the Toronto Kiwanis Music Festival,
    in 2012 and in 2014. In 2014 The Agincourt Men’s Chorus won the City Of Lincoln prize for Best Male Chorus at
    the National Kiwanis Festival in British Columbia, and last Spring, The Agincourt Madrigals Singers won the Paul
    J. Bourret Prize for best SATB High School Chorus in The National Kiwanis Music Festival in Edmonton, Alberta.
  </p>
</app-card>

<app-card>
  <div class="v-div"></div>
  <h3>Hobbies</h3>
  <hr>
  <p>In my spare time I compose songs and record them in my home studio.</p>
</app-card>