<div class="page-body">
  <div *ngIf="headerContent" class="top-row-container">
    <img src="assets/icons/corner-icon-3-rect.svg" class="corner-icon">
    <div class="title-container">
      <h1 class="site-title">{{headerContent.title}}</h1>
      <span class="site-subtitle">{{headerContent.subtitle}}</span>
    </div>
    <div class="nav-container">
      <ng-container *ngFor="let route of routes; let i = index">
        <button [attr.selected]="isSelected(route.url)" [routerLink]="route.url">{{headerContent.navigationButtonText[i]}}</button>
      </ng-container>
    </div>
  </div>

  <hr>

  <router-outlet #outlet="outlet"></router-outlet>

  <ng-container *ngIf="footerContent">
    <app-card>
      <div class="contact-flex-container">
        <img src="assets/icons/facebook-icon.svg" class="icon">
        <a href="{{footerContent.facebookLink}}" class="link">{{footerContent.facebookLinkLabel}}</a>
    
        <img src="assets/icons/youtube-icon.svg" class="icon">
        <a href="{{footerContent.youtubeLink}}" class="link">{{footerContent.youtubeLinkLabel}}</a>
        <p>
      </div>
    </app-card>
  
    <hr>
    
    <div>
      <p>{{footerContent.copyrightText}}</p>
    </div>
  </ng-container>
</div>

