<div class="top-row-container">
  <img src="assets/icons/corner-icon-3-rect.svg" class="corner-icon">
  <div class="title-container">
    <h1 class="site-title">James Pinhorn</h1>
    <span class="site-subtitle">Singer / Songwriter / Composer</span>
  </div>
  <div class="nav-container">
    <button routerLink="/home">Home</button>
    <button routerLink="/bio">Bio</button>
    <button routerLink="/carols">Carols</button>
    <button routerLink="/music">My Songs</button>
    <button routerLink="/contact">Contact</button>
  </div>
</div>

<router-outlet></router-outlet>
<div>
  <p>© JamesPinhorn 2018</p>
</div>