<h2>Traditional Carols</h2>

<mat-divider></mat-divider>
<div id="carol-interview-container">
    <mat-card>
        <p>Interview with my Uncle Cle Newhook and my Grandfather Ernest Newhook about the Norman's Cove carols, 
                and a precious recording of my Poppy singing "Blessed Virgin Mild".  At the end of the interview Cle and Poppy sing 
                "Awake Good People" together.</p>
        <audio src="assets/traditional-carols/popandcle.mp3" controls></audio>
        <a href="assets/traditional-carols/popandcle.pdf" target="_blank">Transcript</a>
    </mat-card>
</div>
<mat-divider></mat-divider>
<div id="paper-container">
        <mat-card>
            <a href="assets/traditional-carols/carol-history.pdf" target="_blank">Paper about carols by 
                my late Great Uncle Hubert Newhook</a>
        </mat-card>
</div>
<mat-divider></mat-divider>

<app-music-viewer musicFile="traditional-carols/traditional-carols.json"></app-music-viewer>

