#carol-interview-container {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#paper-container {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

audio {
    width: 100%;
    max-width: 600px;
}