<h2>Traditional Carols</h2>

<div id="carol-interview-container">
    <p>Interview with my Uncle Cle Newhook and my Grandfather Ernest Newhook about the Norman's Cove carols, 
            and a precious recording of my Poppy singing "Blessed Virgin Mild".  At the end of the interview Cle and Poppy sing 
            "Awake Good People" together.</p>
    <audio src="assets/traditional-carols/popandcle.mp3" controls></audio>
    <a href="assets/traditional-carols/popandcle.pdf" target="_blank">Transcript</a>
</div>

<div id="paper-container">
    <a href="assets/traditional-carols/carol-history.pdf" target="_blank">Paper about carols by 
        my late Great Uncle Hubert Newhook</a>
</div>

<app-music-viewer musicFile="traditional-carols/traditional-carols.json"></app-music-viewer>

