<app-card>
    <p class="text">
        {{blurbs?.carolsPageIntroText}}
    </p>
</app-card>

<app-card>
    <div id="carol-interview-container">
        <p>{{blurbs?.carolsPageInterviewDescription}}</p>
        <audio src="assets/traditional-carols/popandcle.mp3" controls></audio>
        <a href="assets/traditional-carols/popandcle.pdf" target="_blank">Transcript</a>
    </div>

    <div id="paper-container">
        <a href="assets/traditional-carols/carol-history.pdf" target="_blank">A Paper about the carols by 
            my late Great Uncle Hubert Newhook</a>
    </div>
</app-card>

<app-music-viewer category="carol" loadMore="false"></app-music-viewer>

