<h2 class="text">My Bio</h2>
<mat-divider></mat-divider>

<mat-tab-group dynamicHeight>
  <mat-tab label="About Me">
    <div class="flex-container">
      <app-overlay-image 
      imageSrc="assets/images/IMG_7949.JPG" 
      imageText="Conducting the Bach Children's Chorus at the TCA"></app-overlay-image>
      <app-about-me></app-about-me>
    </div>
  </mat-tab>
  <mat-tab label="Contact Me">
    <mat-card>
      <img src="assets/icons/inbox-icon.svg" class="icon">
      <a href="mailto:newfieboy@me.com">My email: newfieboy@me.com</a>
    </mat-card>
    <mat-card>
      <img src="assets/icons/facebook-icon.svg" class="icon">
      <a href="https://www.facebook.com/newfieboy23/" class="link">My Facebook Page</a>
    </mat-card>
    <mat-card>
      <img src="assets/icons/youtube-icon.svg" class="icon">
      <a href="https://www.youtube.com/channel/UCnb18UJU4jlD-UJvSRMTf4A/videos" class="link">My Youtube Channel</a>
      <p>|</p>
      <a href="https://www.youtube.com/user/acimusica1/videos" class="link">My School's Channel</a>
    </mat-card>
  </mat-tab>
</mat-tab-group>