h1 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-left: 10px;
    width: 100px;
}

.tab-body {
    padding-right: 10px;
}

p {
    display: inline-block;
}

a {
    color: aqua;
    padding: 10px;
    display: inline-block
}

mat-card {
    min-width: 160px;
    margin: 10px;
}

.icon {
    min-width: 30px;
    width: 50px;
    display: inline-block
}

img {
    margin-left: 10px;
    margin-bottom: 10px;
}

.banner {
    min-width: 360px;
    max-height: 600px;
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 40%;
}