@import '~@angular/material/theming';
$primary: mat-palette($mat-pink);

h1 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-left: 10px;
    background-color: mat-color($primary);
    width: 100px;
}

#bio-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}