@import '~@angular/material/theming';
$primary: mat-palette($mat-pink);

h1 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin-left: 10px;
    width: 100px;
}

.tab-body {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-right: 10px;
}

a {
    color: aqua;
    padding: 8px;
    display: inline-block
}

mat-card {
    margin: 8px;
    min-width: 160px;
}

.icon {
    min-width: 30px;
    width: 50px;
    display: inline-block
}

.banner {
    width: 90%;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    height: 30%;
}