<h1>My Bio</h1>

<mat-tab-group>
  <mat-tab label="About Me">
    <div class="tab-body">
      <app-about-me></app-about-me>
    </div>
    <img src="assets/icons/toronto-banner.jpg" class="banner">
  </mat-tab>
  <mat-tab label="My Career">
    <p>Ask dad what to put here</p>
  </mat-tab>
  <mat-tab label="Contact Me">
    <div class="tab-body">
      <mat-card>
        <img src="assets/icons/inbox-icon.svg" class="icon">
        <a href="mailto:newfieboy@me.com">My email: newfieboy@me.com</a>
      </mat-card>
      <mat-card>
        <img src="assets/icons/facebook-icon.svg" class="icon">
        <a href="https://www.facebook.com/newfieboy23/" class="link">My Facebook Page</a>
      </mat-card>
      <mat-card>
        <img src="assets/icons/youtube-icon.svg" class="icon">
        <a href="https://www.youtube.com/channel/UCnb18UJU4jlD-UJvSRMTf4A/videos" class="link">My Youtube Channel</a>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>