@import "../../styles.scss";

h4 {
    margin-bottom: 5px;
    font-size: 1.2em;
}

.file-container {
    margin-bottom: 30px;
    margin-left: 18px;
}

.file-container p {
    font-size: 1em;
    color: #bdbcbc;
    margin-top: 5px;
}

.load-area-container {
    margin: 10px auto;
    padding: 10px 0px 10px 0px;
    position: relative;
    height: auto;
    text-align: center;
}

audio {
    width: 100%;
    max-width: 600px;
}

a {
    color: $color_link;
    display: inline-block;
    padding-left: 10px;
    font-size: 1.2em;
}

button {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color: $color_text;
    background-color: $color_base;
    font-size: 1.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 10px;
}

button:hover {
    background-color: $color_text;
    color: $color_base;
}