<div *ngIf="!loadingVolumes; else loadingMessage">
  <div *ngFor="let volume of volumes; last as isLast" [class.last-collection]="isLast">
    <app-card>
      <div class="v-div"></div>
      <h2>{{volume.title}}</h2>
      <h4 *ngIf="volume.note">{{volume.note}}</h4>
      <hr>
      <div *ngFor="let song of volume.songs" class="file-container">
        <h4>{{song.fields.title}}</h4>
        <p>{{song.fields.note}}</p>
        <audio src={{song.fields.fileLocation}} controls></audio>
        <a *ngIf="notEmpty(song.fields.lyricsFileLocation)" href="{{song.fields.lyricsFileLocation}}" target="_blank">Lyrics File</a>
        <hr>
      </div>
    </app-card>
  </div>
</div>

<ng-template #loadingMessage>
  <app-card>
    <p>Loading music...</p>
  </app-card>
</ng-template>


<ng-container *ngIf="loadMore">
  <div *ngIf="moreToLoad" class="load-area-container">
    <button data-testid="load-more" (click)="onLoadMore()">Load Next Volume</button>
    <button data-testid="load-all" (click)="onLoadMore(true)">Load All</button>
  </div>
</ng-container>


